sourcetest/msg.soap.AML.KZ/msg.soap.AML.KZ/kz/primesource/AML.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://primesource.kz/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://primesource.kz/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedMXSD location="AML_InlineSchema1.mxsd"/>
        <binding hasEncoding="false" imported="true" name="ServiceSoap" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="ServiceSoap12" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://primesource.kz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="AML_InlineSchema1.mxsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VersionSoapIn">
    <wsdl:part element="tns:Version" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
    <wsdl:part element="tns:VersionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="Out_OnlineSetSoapIn">
    <wsdl:part element="tns:Out_OnlineSet" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="Out_OnlineSetSoapOut">
    <wsdl:part element="tns:Out_OnlineSetResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Version">
      <wsdl:input message="tns:VersionSoapIn"/>
      <wsdl:output message="tns:VersionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Out_OnlineSet">
      <wsdl:input message="tns:Out_OnlineSetSoapIn"/>
      <wsdl:output message="tns:Out_OnlineSetSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://primesource.kz/Version" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Out_OnlineSet">
      <soap:operation soapAction="http://primesource.kz/Out_OnlineSet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://primesource.kz/Version" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Out_OnlineSet">
      <soap12:operation soapAction="http://primesource.kz/Out_OnlineSet" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port binding="tns:ServiceSoap" name="ServiceSoap">
      <soap:address location="http://172.16.100.50/amlonline/service.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:ServiceSoap12" name="ServiceSoap12">
      <soap12:address location="http://172.16.100.50/amlonline/service.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>