sourcetest/msg.soap.AML.KZ/wsdl/AML.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://primesource.kz/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://primesource.kz/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://primesource.kz/">
      <s:element name="Version">
        <s:complexType/>
      </s:element>
      <s:element name="VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Out_OnlineSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="in_BankOperationID" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="in_IssueDBID" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="in_SenderName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="in_BeneficiaryName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="in_SenderNameList" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="in_BeneficiaryNameList" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="in_OperationReason" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Out_OnlineSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Out_OnlineSetResult" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="responseClass" type="tns:ResponseClass"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseClass">
       <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Version"/>
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
    <wsdl:part name="parameters" element="tns:VersionResponse"/>
  </wsdl:message>
  <wsdl:message name="Out_OnlineSetSoapIn">
    <wsdl:part name="parameters" element="tns:Out_OnlineSet"/>
  </wsdl:message>
  <wsdl:message name="Out_OnlineSetSoapOut">
    <wsdl:part name="parameters" element="tns:Out_OnlineSetResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Version">
      <wsdl:input message="tns:VersionSoapIn"/>
      <wsdl:output message="tns:VersionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Out_OnlineSet">
      <wsdl:input message="tns:Out_OnlineSetSoapIn"/>
      <wsdl:output message="tns:Out_OnlineSetSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://primesource.kz/Version" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Out_OnlineSet">
      <soap:operation soapAction="http://primesource.kz/Out_OnlineSet" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://primesource.kz/Version" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Out_OnlineSet">
      <soap12:operation soapAction="http://primesource.kz/Out_OnlineSet" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://172.16.100.50/amlonline/service.asmx"/>
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://172.16.100.50/amlonline/service.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
