sourcetest/msg.soap.AML.KZ/wsdl/AMLAdapterWService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sbkz="http://sbkz.ru/adapter/AML" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AMLAdapterWService" targetNamespace="http://sbkz.ru/adapter/AML">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://sbkz.ru/adapter/AML" xmlns:sbkz="http://sbkz.ru/adapter/AML" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="xmlMsgRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="request" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="xmlMsgResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="response" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="xmlMsgRequest">
		<wsdl:part name="parameter" element="sbkz:xmlMsgRequest"/>
	</wsdl:message>
	<wsdl:message name="xmlMsgResponse">
		<wsdl:part name="result" element="sbkz:xmlMsgResponse"/>
	</wsdl:message>
	<wsdl:portType name="AMLAdapterPT">
		<wsdl:operation name="getXMLmessage">
			<wsdl:input message="sbkz:xmlMsgRequest"/>
			<wsdl:output message="sbkz:xmlMsgResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AMLAdapterPTSoapBinding" type="sbkz:AMLAdapterPT">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getXMLmessage">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AMLAdapterPTService">
		<wsdl:port name="AMLAdapterPTServicePort" binding="sbkz:AMLAdapterPTSoapBinding">
			<soap:address location="http://192.168.123.2:7800/AMLAdapterPT"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>